@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?59365021');
  src: url('../fonts/fontello.eot?59365021#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?59365021') format('woff'),
       url('../fonts/fontello.ttf?59365021') format('truetype'),
       url('../fonts/fontello.svg?59365021#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-user-add:before { content: '\e800'; } /* 'î €' */
.icon-adult:before { content: '\e801'; } /* 'î ' */
.icon-circle-notch:before { content: '\e802'; } /* 'î ‚' */
.icon-dot-circled:before { content: '\e803'; } /* 'î ƒ' */
.icon-down-open:before { content: '\e804'; } /* 'î „' */
.icon-angle-down:before { content: '\e805'; } /* 'î …' */
body{
	font-family: 'Arimo', sans-serif;
	overflow-x:hidden;
	letter-spacing: 1px;
}
.navbar-nav > li {
float: left;
border-left: 1px solid #e7e7e7;
}
.navbar-nav > li:last-child{
	border-right: 1px solid #e7e7e7;
}
hr.style-six {
	padding: 0;
	border: none;
	border-top: 1px solid #F0F0F0;
	color: #F0F0F0;
	text-align: center;
	margin: 30px 0;
	line-height: 100%;
	position: relative;
	overflow: visible;
}
hr.style-six:before {
	background: #F4BF1E;
	content: "";
	height: 1px;
	left: 25%;
	position: absolute;
	margin-top: -1px;
	width: 50%;
}
hr.style-six:after {
	background: #fff;
	color: #F4BF1E;
	content: '\e804';
	display: inline-block;
	font-family: "fontello";
	font-size: 30px;
	line-height: 35px;
	padding: 0 40px;
	position: relative;
	top: -15px;
}
.pad20{
	padding: 20px;
}
.margin-top-40{
	margin-top: 40px;
}
.blue-button{
	color:#fff;
	padding:5px 8px;
	background-color: #2591eb;
	margin:5px 1px;
	border: 1px solid;
}
.blue-button:hover{
	background-color: #51a5eb;
	color:#fff;
}
.orange-button{
	color:#fff;
	padding:5px 8px;
	background-color: #fba304;
	margin:5px 1px;
	border: 1px solid;
}
.orange-button:hover{
	background-color: rgba(251, 163, 4, 0.87);
	color:#fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #555;
background-color: #FFFFFF;
}
.item-box{
	background-color: #2592ed;
	color:black;
	height:300px;
}
.carousel-caption{
	bottom:30%;
}
.thumb-text ul{
	 margin-top: 30%;
	 list-style: none;
	 padding:0;
	 margin-bottom: 5%;
}
.thumb-text ul li{
	margin:8px 0;
	border-bottom: 1px solid #dedede;
	padding-bottom: 8px;
}
.thumb-text1 ul{
	 margin-top: 30%;
	 list-style: none;
	 padding:0;
	 margin-bottom: 5%;
}
.thumb-text1 ul li{
	margin:8px 0;
	border-bottom: 1px solid #dedede;
	padding-bottom: 8px;
}
.active-col{
	box-shadow: 1px 1px 15px #e7e7e7;
	min-height: 540px;
}
.active-col:hover{
	box-shadow: 1px 3px 15px #A8A7A7;
}
.pad-top20{
	margin-top: 20px;
}
.fa-repeat{
	color:#fba304;
}
.marginbottom05{
	margin-bottom: 5px;
}
.blue{
	color: #2591eb;
}
.img-hover{
	padding: 20px 0;
}
.img-hover:hover{
	box-shadow:0px 0px 9px #D6D6D6; 
	padding: 20px 0;
}
.program-text h5{
	margin: 4% 0 10px;
}
.program-text h6{
	font-size: 16px;
	margin: 20px 0;
}
.register-text{
	font-size: 1.7em;
	padding:3%;
}
.star{
	color:red;
	margin-top:-3px;
}
.custom-input{
	box-shadow: none;
	border-radius: 0;
}
.input-group-addon{
	background-color: #51a5eb;
}
.input-group-addon .fa{
	color:#fff;
}
.orange{
	color: #fba304;
}
.broad-footer{
	background-color: #fff;
}
.foot_ul{
	list-style: none;
	padding: 0;
	/*max-height: 257px;*/
}
.foot_ul li{
	padding-bottom: 5px;
	border-bottom: 1px solid #DFDFDF;
}
.foot_ul a{
	color:#000;
}
.foot_ul a:hover{
	color:#2591eb;
}

.broad-footer-col{
	padding: 20px;
	box-shadow: 1px 1px 15px #e7e7e7;
	height: 285px;
}
.broad-footer-col .fa{
	margin-right: 5px;
	font-size: 24px;
}
.venue-box{
	margin-top: 7%;
	box-shadow: 1px 1px 15px #e7e7e7;
	/*min-height: 200px;*/
	padding: 25px;
	margin-bottom: 20px;
}
.about-box{
	box-shadow: 1px 1px 15px #e7e7e7;
	padding: 40px;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #fba304;
	color: #fff;
	border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fba304;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #fff;
	border-radius: 0;
}
.custom_tab{
	padding: 20px 0;
}
.custom_fa{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 8px;
	font-size: 1.5em;
}
/*@media all and (max-width: 1024px) {
 
}*/
 .navbar-default .navbar-nav > li > a{
  	padding: 13px 5px !important;
  }
.cancel-padding-left{
	padding-left: 0;
}
.cancel-padding-right{
	padding-right: 0;
}
.pluginBoxDivider {
 border-top: none !important; 
}
.thumb-text h4{
	color: #2591eb;
}
.foot_ul a{
	font-size: 12px;
}
.footer-bg p{
	margin:0;
}
.past-box a{
	color: #000;
}
.past-box a:hover{
	color: #fba304;
}
.testimonial h4{
	background-color: #2591eb;
	padding: 6px;
	color: #fff;
	margin:0;
}
.testimonial-col{
	margin-top: 15px;
}
.testimonial img{
	float: left;
	margin: 0px 15px 0px 0;
	box-shadow: 2px 5px 14px #9C9C9C;
}

p{
	font-size: 14px;
}
.course_p{
	font-weight: bold;
}
.padding{
	padding: 15px 0 5px 0;
}
.box_container{
	height: 100%;
	width: 100%;
	background-color: #FFF;
	position: absolute;
	top: 0;
}
.box{
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	
}
.inner-box{
	box-shadow: 1px 1px 20px #D6DADB;
	height: 300px;
	width: 100%;
	padding: 20px;
}
.blue_bg{
	background-color:#2591eb; 
}
.blue_bg h3{
	color: #fff;
}
.form-box{
	padding: 30px 2px;
}
.cus-input{
	border-radius: 0;
	box-shadow: none;
}
.sb-description p{
	color: #fff;
}
@media (min-width: 1200px){
	.container {
width: 970px;
	}
}
.scrollToTop{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 4px;
	text-align: center;
	background: #2591eb;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}
.uparrow{
	color: #fff;
}
.scrollToTop:hover{
	background: #51a5eb;
	transition:0.5s;
}
.btn1-blue{
	color: #fff !important;
	background-color:#A2ABB2;
	padding:5px;
	float: right; 
	font-size: 10px;
}
.btn2-blue{
	color: #fff !important;
	background-color:#A2ABB2;
	padding:5px;
	float: left; 
	font-size: 10px;
}
.btn2-blue:hover{
	background: #51a5eb;
}
.btn1-blue:hover{
	background: #51a5eb;
}
.cancel-pad-right{
	padding-right: 5px;
}
.cancel-pad-left{
	padding-left: 5px;
}
.modal-content{
	border-radius: 0;
}
.modal-header{
	background-color:#2591eb;
	color: #fff;
}

/* tanuja styles */
.istitute-location{
	color: #fff;
	z-index: 90;
}
.istitute-location h6{
	float: right;
	margin-top: -330px;
	z-index: 90;
	position: relative;
	padding: 5px 10px;
	background-color: #06A;
	font-size: 1.2em;
}
.coming-soons{
	padding: 20px;
	margin: 0 auto;
	width: 385px;
}
.coming-soons img{
	margin-top: 10px;
}
.left-align{
	float: left;
}
.clear{
	clear: both;
}
.left-align h1, .left-align h3{
	margin-top: 0;
	margin-left: 25px;
}
.pad-bottom{
	padding-bottom: 20px;
}
.tab-content > .tab-pane {
	padding: 10px 0;
}
.pad-top{
	padding-top: 10px;
}
.thumb-sec span{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
}
.pin img{
	margin-top: 7%;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color: #fff;
	background-color:#fba304;
	border-color: #fff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	color: #fff;
	background-color:#fba304;
	border-color: 1px solid #fba304;
}

.navbar-default .navbar-nav > li > ul li
{
	font-size:10px;
}
.photo-album-img{
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: 10px -15px 0 -10px !important;
}
.photo-li li{
	border-bottom: none !important;
}
.course-ul ul{
	list-style-type: circle;
	margin: 30px 0 30px 0;
	padding: 0;
}
.course-ul ul li{
	padding:5px 0;
}

.text-justify {
text-align: justify;
margin-right: 20px;
}
.course-page{
	padding:60px 15px;
	text-align: center;
	    background: #fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
        transition:0.4s;
}
.course-page:hover{
	margin-top: -10px;
	transition:0.4s;

}
.bold{
	font-weight: bold;
}